<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;

tr:nth-child(odd) {
    background-color: #ff0000;
}

</style>


</head>

<body style="background-color: lightblue ;">


 <form class="form-inline" method="get">
     {{ filter.form.as_p }}
    <button type="submit">Search</button>

  </form>
  <table>
  <tr>

    <th>Course</th>
    <th>Type</th>
    <th>Year</th>
    <th>Start_date</th>
    <th>Duration</th>

  </tr>
  <tr>
  {% for user in filter.qs %}

      <td class="course" data-id="{{user.id}}">{{ user.course }}</td>
      <td>{{ user.year }}</td>
      <td>{{ user.type }}</td>
      <td>{{ user.start_date}}</td>
      <td>{{ user.duration }}</td>
  </tr>
  {% endfor %}
  </table>
</body>